.book h2 {
    margin: 0;
    font-size: 3.2em;
    text-align: center;
}

.book p {
    margin: 6px 0;
    font-size: 1.5em;
}

#pagination button {
    border-radius: 5px;
}

#pagination #pageInfo {
    font-weight: bold;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
#searchForm {
    text-align: center;
    margin: 20px 0;
}
#pagination button {
    padding: 5px 10px;
    margin: 0 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}
#pagination{
    text-align: center;  
}
#searchForm button{   
    padding: 5px 10px;
    margin: 0 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;      
}
body{

background-color: gray;

}